<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhr.dao.CreditProductsMapper">

    <sql id="CreditProduct_Columns">
        id, bank_name, product_name, product_type, min_amount, max_amount, interest_rate_range,
        loan_term, credit_validity, disbursement_account, scene, online, repayment_method, status,
        created_at, updated_at
    </sql>

    <select id="list" resultType="com.qhr.model.Product">
        SELECT <include refid="CreditProduct_Columns"/>
        FROM jc_products
        ORDER BY id DESC
        <if test="offset != null and size != null">
            LIMIT #{offset}, #{size}
        </if>
    </select>

</mapper>
