<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhr.dao.FinancingIntentionsMapper">

    <resultMap id="FinancingIntentionsMap" type="com.qhr.model.FinancingIntention">
        <constructor>
            <idArg column="id" javaType="java.lang.Long" name="id"/>
            <arg column="enterprise_id" javaType="java.lang.Long" name="enterpriseId"/>
            <arg column="amount_range" javaType="java.lang.String" name="amountRange"/>
            <arg column="property" javaType="java.lang.Boolean" name="property"/>
            <arg column="property_mortgage" javaType="java.lang.Boolean" name="propertyMortgage"/>
            <arg column="spouse_support" javaType="java.lang.Boolean" name="spouseSupport"/>
            <arg column="tax_account" javaType="java.lang.String" name="taxAccount"/>
            <arg column="tax_password" javaType="java.lang.String" name="taxPassword"/>
            <arg column="created_at" javaType="java.time.LocalDateTime" name="createdAt"/>
            <arg column="updated_at" javaType="java.time.LocalDateTime" name="updatedAt"/>
        </constructor>
    </resultMap>

    <sql id="FinancingIntention_Columns">
        id, enterprise_id, amount_range, property, property_mortgage,
        spouse_support, tax_account, tax_password,
        created_at, updated_at
    </sql>

    <select id="list" resultMap="FinancingIntentionsMap">
        SELECT <include refid="FinancingIntention_Columns"/>
        FROM yw_financing_intentions
        <where>
            <if test="enterpriseId != null"> AND enterprise_id = #{enterpriseId}</if>
        </where>
        ORDER BY id DESC
        <if test="offset != null and size != null">
            LIMIT #{offset}, #{size}
        </if>
    </select>

</mapper>
