<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhr.dao.FinancingIntentionsMapper">

    <resultMap id="FinancingIntentionsMap" type="com.qhr.model.FinancingIntention">
        <id column="id" property="id"/>
        <result column="user_open_id" property="userOpenId"/>
        <result column="enterprise_id" property="enterpriseId"/>
        <result column="amount_range" property="amountRange"/>
        <result column="personal_credit_name" property="personalCreditName"/>
        <result column="personal_credit_cloud_id" property="personalCreditCloudId"/>
        <result column="enterprise_credit_name" property="enterpriseCreditName"/>
        <result column="enterprise_credit_cloud_id" property="enterpriseCreditCloudId"/>
        <result column="tax_account" property="taxAccount"/>
        <result column="tax_password" property="taxPassword"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="FinancingIntention_Columns">
        id, user_open_id, enterprise_id, amount_range, personal_credit_name,
        personal_credit_cloud_id, enterprise_credit_name, enterprise_credit_cloud_id, tax_account, tax_password,
        created_at, updated_at
    </sql>

    <select id="list" resultMap="FinancingIntentionsMap">
        SELECT <include refid="FinancingIntention_Columns"/>
        FROM yw_financing_intentions
        <where>
            <if test="enterpriseId != null"> AND enterprise_id = #{enterpriseId}</if>
        </where>
        ORDER BY id DESC
        <if test="offset != null and size != null">
            LIMIT #{offset}, #{size}
        </if>
    </select>

</mapper>
