<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhr.dao.MatchRecordsMapper">

    <select id="list" resultType="com.qhr.vo.MatchRecords">
        select ma.id,
               fin.amount_range            as finAmountRange,
               ma.amount_range             as matchAmountRange,
               JSON_LENGTH(ma.product_ids) as productCount,
               fin.created_at              as matchTime
        from yw_match_records ma
                 left join yw_financing_intentions fin on ma.intention_id = fin.id
        where ma.deleted = 0
          and ma.user_open_id = #{openid}
          and ma.enterprise_id = #{enterpriseId}
        order by ma.id desc
    </select>
</mapper>
