<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhr.dao.UsersMapper">

    <resultMap id="UsersVoMap" type="com.qhr.vo.Users">
        <constructor>
            <arg column="id" javaType="java.lang.String" name="id"/>
            <arg column="name" javaType="java.lang.String" name="name"/>
            <arg column="phone" javaType="java.lang.String" name="phone"/>
            <arg column="enterprises" javaType="java.lang.String" name="enterprises"/>
            <arg column="matchCount" javaType="java.lang.String" name="matchCount"/>
            <arg column="lastMatch" javaType="java.lang.String" name="lastMatch"/>
        </constructor>
    </resultMap>
    <select id="list" resultMap="UsersVoMap">
        SELECT u.id,u.real_name AS name,u.mobile AS phone,
        COALESCE(ue.enterprises, 0) AS enterprises,
        COALESCE(m.matchCount, 0) AS matchCount,
        m.lastMatch AS lastMatch
        FROM jc_users u
        LEFT JOIN
        (SELECT user_id, COUNT(DISTINCT enterprise_id) AS enterprises
        FROM zj_user_enterprise_relation
        GROUP BY user_id) ue ON u.id = ue.user_id
        LEFT JOIN
        (SELECT user_id, COUNT(id) AS matchCount, MAX(created_at) AS lastMatch
        FROM z_match_records
        GROUP BY user_id) m ON u.id = m.user_id
        where u.status = 1 ORDER BY id DESC
        <if test="offset != null and size != null">
            LIMIT #{offset}, #{size}
        </if>
    </select>
</mapper>
